{% extends 'base.html' %}
{% block style %}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.back-btn{
    color : white;
}

.back-btn:hover{
    background-color : lime;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
{% endblock style %}

{% block body %}

<div class="about-section">
    <h1>About Us Page</h1><br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi corrupti libero voluptate alias maiores quae officia! Iste dolores veniam saepe deleniti, harum nihil aliquam tenetur praesentium quam corrupti. Possimus nemo non quo commodi dolorum. Aperiam, exercitationem? Officiis eaque labore voluptate beatae enim omnis perferendis, minima quidem consequatur incidunt, in cupiditate dolor sed neque aliquid voluptatibus ut nostrum aut. Odit excepturi mollitia, eos voluptas iure deleniti laudantium dolor ducimus assumenda ad eaque, quas ullam? Praesentium error hic, laboriosam eos molestias rerum. Ex reiciendis voluptates cumque eaque maiores velit rem ad voluptate voluptatibus, libero quam nihil, non, dolore rerum repudiandae temporibus nesciunt. Voluptatem minima illo eaque accusamus a, impedit voluptates commodi natus error at?</p>

    <br><br>
    <a href="javascript:history.back()" class = "back-btn">Back to Home Page</a>
</div>


{% endblock body %}