{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block style %}
.td-item{
    padding : 20px;
}
{% endblock style %}


{% block body %}
        <br><br>
        <form action="/analyze/" method="post">
            {% csrf_token %}
            <!--used to prevent malicious attacks-->
            <div class="form-group">
                <label for="exampleFormControlTextarea1">
                    <h4>Enter Your Text Here : </h4>
                </label>
                <textarea style = 'resize : none;' class="form-control" name="_text-area" id="exampleFormControlTextarea1" rows="10"></textarea>
            </div>

            <table>
                <tr>
                    <td class = "td-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="remove-special-characters" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Remove Special Characters</label>
                        </div>
                    </td>
                    <td class = "td-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="remove-extra-space" class="custom-control-input" id="customSwitch2">
                            <label class="custom-control-label" for="customSwitch2">Remove Extra Space</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class = "td-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="remove-extra-lines" class="custom-control-input" id="customSwitch3">
                            <label class="custom-control-label" for="customSwitch3">Remove Extra Lines</label>
                        </div>
                    </td>
                    <td class = "td-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" name="character-count" class="custom-control-input" id="customSwitch4">
                            <label class="custom-control-label" for="customSwitch4">Characters Count</label>
                        </div>
                    </td>
                </tr>
            </table>

            <br>
            <table>
                <tr>
                    <td><button type="submit" class="btn btn-dark">Analyze Text</button></td>
                    {% comment %} <td></td> {% endcomment %}
                </tr>
            </table>
        </form>
        {% endblock body %}

